body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: #212529;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.product-card {
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
